absl-py==2.5.0
aiofiles==25.1.0
etils==1.14.0
flax==0.12.9
fsspec==2026.9.0
humanize==4.16.0
jax==0.11.2
jaxlib==0.11.2
markdown-it-py==4.2.0
mdurl==0.1.2
ml-dtypes==0.6.0
msgpack==1.2.2
numpy==2.5.3
opt-einsum==3.4.0
optax==0.2.8
orbax-checkpoint==0.12.4
prometheus-client==0.26.0
protobuf==7.36.2
psutil==7.2.2
pygments==2.21.0
pyyaml==6.0.3
rich==15.0.0
scipy==1.18.1
simplejson==4.1.2
tensorstore==0.1.85
treescope==0.1.10
typing-extensions==4.16.0
uvloop==0.22.1
zipp==4.1.0
